
<form action="/posts" method="POST">
  <div class="main_input">
    <input class="main_input" type="text" name="input_1" placeholder="I" />
   </div>

  <div class="main_input">
    <select name="input_2">
    <option value="ran">ran</option>
    <option value="ate">ate</option>
    <option value="cooked">cooked</option>
    </select>
  </div>

  <div class="main_input">
    <input class="main_input" type="text" name="input_3" placeholder="spaghetti" />
  </div>
  <!-- <p>
    <input type="text" name="word_4" placeholder="on" />
  </p> -->
  <div class="main_input">
  <select name="input_4">
    <option value="with">with</option>
    <option value="while">while</option>
    <option value="for">for</option>
  </select>
  </div>

   <div class="main_input">
    <input class="main_input" type="text" name="input_5" placeholder="wednesday" />
   </div>
  <input class="main_input" type="submit" value="Create New Phrase" />
</form>


<img src=<%= @post.input_1 %>> <h2><%= @post.input_2 %></h2> <img src=<%= @post.input_3 %>> <h2><%= @post.input_4 %></h2> <img src=<%= @post.input_5 %>>



