
<form action="/posts" method="POST">
  <p>
    <input type="text" name="word_1" placeholder="I" />
  </p>
   <p>
    <input type="text" name="word_2" placeholder="ate" />
  </p>
  <p>
    <input type="text" name="word_3" placeholder="spaghetti" />
  </p>
  <p>
    <input type="text" name="word_4" placeholder="on" />
  </p>
   <p>
    <input type="text" name="word_5" placeholder="wednesday" />
  </p>
  <input type="submit" value="Create New Phrase" />
</form>


<h2><%= @post.word_1 %> <%= @post.word_2 %> <%= @post.word_3 %>  <%= @post.word_4 %> <%= @post.word_5 %></h2>




<% @posts.each do |post| %>
  <h1><%= post.word_1 %></h1>
<% end %>




